<a href="https://colab.research.google.com/github/SAIPRIYADODDA/Assignment-1/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Develop a code for below scenario
     giving input as year and printing respective animal using % operator

In [ ]:
year=int(input("Enter a year:"))
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
x=year%12
print(d[x])

Enter a year:2005
rooster

2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
 
 Input:  Distance to be travel: 520     
Weight of the goods: 50 
Output: Amount to be charged: 3120 /-

In [ ]:
d=int(input("Enter distance to be travel:"))
w=int(input("Weight of the Goods:"))
if(d>=500):
  if(w>=100):
    charge=d*5
  elif(w>=10 and w<100):
    charge=d*6
  elif(w<10):
    charge=d*7
else:
  if(w>=100):
     charge=d*5
  else:
     charge=d*5
print("Amount to be charged:",charge)

Enter distance to be travel:520
Weight of the Goods:50
Amount to be charged: 3120

3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input: 	Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [ ]:
t=input("Type of seat:")
p=input("Payment mode:")
if(t=="stalls"):
  if(p=="cash"):
    cost=625-(625*0.1)
  else:
    cost=625-(625*0.05)
elif(t=="circle"):
  if(p=="cash"):
    cost=750-(750*0.1)
  else:
   cost=750-(750*0.05)
elif(t=="upperclass"):
  if(p=="cash"):
    cost=850-(850*0.1)
  else:
   cost=850-(850*0.05)
elif(t=="box"):
  if(p=="cash"):
    cost=1000-(1000*0.1)
  else:
   cost=1000-(1000*0.05)
print("Cost of ticket:",cost)

Type of seat:circle
Payment mode:cash
Cost of ticket: 675.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
m=int(input("Enter weight of water in kilograms:"))
i=int(input("Enter initial temperature"))
f=int(input("Enter final temperature"))
Q=m*(f-i)*4184
print("The energy needed to heat water in joules is:",Q)

Enter weight of water in kilograms:1500
Enter initial temperature50
Enter final temperature100
The energy needed to heat water in joules is: 313800000

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [ ]:
month=input("Enter month:")
if(month=="December"or month=="January" or month=="February"):
  print("Winter")
elif(month=="March"or month=="April" or month=="May"):
  print("Spring")
elif(month=="June"or month=="July" or month=="August"):
  print("Summer")
elif(month=="September"or month=="October" or month=="November"):
  print("Autumn")

Enter month:April
Spring

6.	Body Mass Index

In [1]:
w=float(input("Enter weight in pounds:"))
h=float(input("Enter height in inches"))
h1=h*0.0254
bmi=(w*0.45359237)/(h1**2)
if(bmi<18.5):
  print("UnderWeight")
elif(18.5<=bmi<25.0):
  print("Normal")
elif(25.0<=bmi<30.0):
  print("Overweight")
elif(30.0<=bmi):
  print("Obese")

Enter weight in pounds:10
Enter height in inches5
Obese

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [ ]:
a=int(input("Enter an integer between 100 and 1000:"))
sum=0
while(a>0):   
   sum=sum+int(a%10)
   a=int(a/10)
print(sum)

Enter an integer between 100 and 1000:745
16

8.	Print all palindrome numbers between 1 to 1000.

In [ ]:
a=int(input("Enter start range :"))
b=int(input("Enter last range :"))
print("Palindrome numbers between %d to %d are:"%(a,b))
for num in range(a,b+1):
  temp=num
  rev=0

  while(temp > 0):
   r=temp%10
   rev=(rev*10)+r
   temp=int(temp/10)
  if(num==rev):
     print(num,end=' ')

Enter start range :100
Enter last range :1000
Palindrome numbers between 100 to 1000 are:
101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

9.	Print all Armstrong numbers between 1 to 1000.

In [ ]:
a=int(input("Enter start range :"))
b=int(input("Enter last range :"))
print("Armstrong numbers between %d to %d are:"%(a,b))
for num in range(a,b+1):
  count=len(str(num))
  sum=0
  x=0
  temp=num
  while(temp>0):
    r=temp%10
    x=r**count
    sum=sum+x
    temp=int(temp/10)
  if(num==sum):
    print(num)

Enter start range :1
Enter last range :1000
Armstrong numbers between 1 to 1000 are:
1
2
3
4
5
6
7
8
9
153
370
371
407

10.	Write a  program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
a=int(input("Enter start range:"))
b=int(input("Enter last range:"))
for num in range(a,b+1):
  if(num%3==0 and num%5==0):
    print("fizz buzz")
  elif(num%3==0):
    print("fizz")
  elif(num%5==0):
    print("buzz")
  else:
   print(num)

Enter start range:1
Enter last range:100
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [ ]:
h=int(input("Enter height of the wall"))
u=int(input("Enter how many steps to climb:"))
d=int(input("Enter how many meters slipsdown"))
steps=0
count=0
while(h>=u):
  steps=u-d
  h=h-steps
  count=count+1
if(h<=u and h>=0):
    count=count+1

print(count)

Enter height of the wall500
Enter how many steps to climb:20
Enter how many meters slipsdown15
98